<article>
<h1>Equipe</h1>
<p align="center"><b><b>Prof. Dr. Aristóteles Góes-Neto (Coordenador)</b></b></p>
<p align="center">Unidade Instituto de Ciências Biológicas, Departamento de Microbiologia</p>
<p align="center"><a target="_blank" href="http://somos.ufmg.br/professor/aristoteles-goes-neto">Página institucional</a></p>
<p align="center"><b><b>Prof. Dr. Bruno Reis</b></b></p>
<p align="center">Unidade Faculdade de Filosofia e Ciências Humanas
, Departamento de Ciência Política</p>
<p align="center"><a target="_blank" href="http://somos.ufmg.br/professor/bruno-pinheiro-wanderley-reis">Página institucional</a></p>
<p align="center"><b><b>Prof. Dr. Carlos Henrique Borlido Haddad</b></b></p>
<p align="center">Unidade Faculdade de Direito, Deparatamento de Direito e Processo Penal</p>
<p align="center"><a target="_blank" href="http://somos.ufmg.br/professor/carlos-henrique-borlido-haddad">Página institucional</a></p>
<p align="center"><b><b>Prof<sup>a</sup>. Dr<sup>a</sup>. Mariana Muniz</b></b></p>
<p align="center">Unidade Escola de Belas Artes, Departamento de Artes Cênicas</p>
<p align="center"><a target="_blank" href="http://somos.ufmg.br/professor/mariana-de-lima-e-muniz">Página institucional</a></p>
<p align="center"><b><b>Prof. Dr. Ulysses Panisset</b></b></p>
<p align="center">Unidade Faculdade de Medicina, Departamento de Medicina Preventiva e Social</p>
<p align="center"><a target="_blank" href="http://somos.ufmg.br/professor/ulysses-de-barros-panisset">Página institucional</a></p>
</article>
