<article>
<h1>Acordos com instituições do Canadá</h1>
<table>
<tr>
<b><b>
<th>#</th>
<th>Instituição</th>
<th>Instrumento</th>
</b></b>
</tr>
<tr>
<th>1</th>
<th>École des hautes études commerciales de Montréal - HEC Montréal</th>
<th>MoU</th>
</tr>
<tr>
<th>2</th>
<th>Lakehead University</th>
<th>MoU</th>
</tr>
<tr>
<th>3</th>
<th>Memorial University of Newfoundland - MUN</th>
<th>Intention letter</th>
</tr>
<tr>
<th>4</th>
<th>Memorial University of Newfoundland - MUN</th>
<th>MoU</th>
</tr>
<tr>
<th>5</th>
<th>Queen's University at Kingston - Queen's</th>
<th>MoU</th>
</tr>
<tr>
<th>6</th>
<th>Ryerson University</th>
<th>MoU</th>
</tr>
<tr>
<th>7</th>
<th>Royal Ontario Museum - ROM</th>
<th>MoU</th>
</tr>
<tr>
<th>8</th>
<th>Université de Montréal - UdeM</th>
<th>Double Degree Agreement</th>
</tr>
<tr>
<th>9</th>
<th>Université de Montréal - UdeM</th>
<th>Exchange Agreement</th>
</tr>
<tr>
<th>10</th>
<th>Université Laval - UL</th>
<th>MoU</th>
</tr>
<tr>
<th>11</th>
<th>Université Laval - UL</th>
<th>Exchange Agreement</th>
</tr>
<tr>
<th>12</th>
<th>University of Alberta - UAlberta</th>
<th>Exchange Agreement</th>
</tr>
<tr>
<th>13</th>
<th>University of British Columbia - UBC</th>
<th>MoU</th>
</tr>
<tr>
<th>14</th>
<th>University of Western Ontario</th>
<th>MoU</th>
</tr>
<tr>
<th>15</th>
<th>University of Ottawa - UOttawa</th>
<th>MoU</th>
</tr>
<tr>
<th>16</th>
<th>York University</th>
<th>MoU</th>
</tr>
</table>
</article>



