<article>
<h1>Notícias</h1>
<h2>Coordenador do Centro de Estudos Norte-Americanos (CENA) ministrará disciplina nos EUA</h2>
<p>Nos meses de março e abril de 2020, os doutores Aristóteles Goes-Neto, que coordena o recém-inaugurado Centro de Estudos Norte-Americanos (CENA) da UFMG, e Daniel Carvalho, bolsista de pós-doutorado do Capes PrInt UFMG – ambos do Departamento de Microbiologia do Instituto de Ciências Biológicas (ICB) da UFMG – ministrarão a disciplina on-line <b><b>Network Science Applied to Agronomical and Biological Sciences</b></b> (Ciência de redes aplicadas às ciências agronômicas e biológicas, em tradução livre), ofertada pelo Instituto de Agricultura e Recursos Naturais da Universidade de Nebraska-Lincoln (UNL), nos EUA.</p>
<p><a target="_blank" href="https://www.ufmg.br/dri/coordenador-do-centro-de-estudos-norte-americanos-cena-ministrara-disciplina-nos-eua">Ler artigo original na íntegra. &#8599;</a></p>
</article>
