<article>
<h1>Links úteis</h1>
<p align="center"><a target="_blank" href="https://fullbright.org.br">Fullbright Brasil</a></p>
<p align="center"><a target="_blank" href="https://www.usaid.gov/brazil">USAid Brazil</a></p>
<p align="center"><a target="_blank" href="https://br.usembassy.gov/pt">Embaixadas e Consulados dos EUA no Brasil</a></p>
<p align="center"><a target="_blank" href="https://www.international.gc.ca/world-monde/country-pays/brazil-bresil/index.aspx?lang=eng">Embaixadas e Consulados do Canadá no Brasil</a></p>
</article>
