<article>
<figure><img src="./assets/images/reitoria.png" /><figcaption>Foto: Foca Lisboa.</figcaption></figure>
<h1>Sobre a UFMG</h1>
<p>UFMG is a Federal Public Institution founded in 1927, free of tuition, located in Minas Gerais, Southeast Brazil – South America.</p>
<p>Ranked 9th at <u>The Latin America Ranking 2018</u>.</p>
<p>Campuses: <u>Pampulha</u>, <u>Saúde</u>, <u>Montes Claros</u> and <u>Tiradentes</u>.</p>
<p>20 schools</p>
<p>Total area: m<sup>2</sup></p>
<p>Faculty members</p>
<p>Administrative and technical staff:</p>
<p>Undergraduate students:</p>
<p>Graduate students:</p>
<p>University community: ~60,000</p>
</article>
